.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 72px;
}
.icon {
  width: 46px;
  height: 44px;
}
.text {
  margin: 8px 0px 0px 9px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #212326;
}
